/* * {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
} */

body {
  background: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg") !important;

  /* height: 100%; */
  /* width: 100%; */
  /* margin-right: 0; */

  /* background-attachment: fixed; */

  background-size: cover !important;

  /* background-color: #464646; */

  background-repeat: no-repeat !important;
}
